*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.h1 {
  font-weight: 700;
  font-size: 54px;
}

.h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
}

.h3 {
  font-size: 19px;
}

.h4 {
  font-size: 18px;
}

html,
body {
  height: 100%;
  background: #FFFFFF;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 1210px;
  padding: 0 15px;
  margin: 0px auto;
}

.button {
  height: 40px;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  padding: 11px 45px 14px 45px;
  cursor: pointer;
}

.button_violet {
  background: #6F2CFF;
  color: #FFFFFF;
}

.button_violet:hover {
  background: #411a94;
}

.button_white {
  background: #FFFFFF;
  color: #6F2CFF;
}

.button_white:hover {
  border: #411a94 solid 1px;
  box-sizing: border-box;
}

.button_rounded {
  border-radius: 30px;
}

.button_rounded_right {
  border-radius: 0px 27.5px 27.5px 0px;
}

.menu__button {
  border-radius: 20px;
  font-size: 14px;
  line-height: 14px;
  padding: 11px 34px 15px 34px;
}

.button_email {
  height: 45px;
  line-height: 21px;
  padding: 13px 45px 11px 45px;
}

.ecosystem__button {
  font-size: 14px;
  line-height: 14px;
  padding: 11px 34px 15px 34px;
}