*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.h1 {
  font-weight: 700;
  font-size: 54px;
}

.h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
}

.h3 {
  font-size: 19px;
}

.h4 {
  font-size: 18px;
}

html,
body {
  height: 100%;
  background: #FFFFFF;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1240px;
  padding: 0 15px;
  margin: 0px auto;
}

.button {
  height: 40px;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  padding: 11px 45px 14px 45px;
  cursor: pointer;
}

.button_violet {
  background: #6F2CFF;
  color: #FFFFFF;
}

.button_violet:hover {
  background: #411a94;
}

.button_white {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #6F2CFF;
}

.button_white:hover {
  border: 1px solid #411a94;
  box-sizing: border-box;
}

.button_rounded {
  border-radius: 30px;
}

.button_rounded_right {
  border-radius: 0px 27.5px 27.5px 0px;
}

.button_email {
  height: 45px;
  line-height: 21px;
  padding: 13px 45px 11px 45px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  z-index: 50;
}

.header__logo {
  height: 24px;
  width: 79px;
  margin: 0px 0px 0px 30px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 36px;
  max-width: 821px;
  width: 57.01%;
  margin: 0px 0px 0px 137px;
}

.li {
  font-size: 14px;
  line-height: 14px;
  color: #1C1C1C;
  padding: 0px 20px;
}

.header__button {
  border-radius: 20px;
  font-size: 14px;
  line-height: 14px;
  margin: 0px 0px 0px 106px;
  padding: 11px 34px 15px 34px;
}

.header__link {
  margin: 0px 0px 0px 38px;
}

@media (max-width: 1400px) {
  .nav {
    margin: 0px 0px 0px 50px;
  }
  .header__button {
    margin: 0px 0px 0px 50px;
  }
  .header__link {
    margin: 0px 0px 0px 20px;
  }
}
@media (max-width: 1246px) {
  .header {
    height: 100px;
  }
  .nav {
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100px;
  }
}
@media (max-width: 1030px) {
  .nav {
    margin: 0px 0px 0px 30px;
  }
  .header__button {
    margin: 0px 0px 0px 30px;
  }
}
@media (max-width: 934px) {
  .nav {
    max-width: 470px;
  }
}
@media (max-width: 870px) {
  .header {
    flex-direction: column;
    min-height: 250px;
    width: 100%;
  }
  .header__logo {
    margin: 30px 0px 0px;
  }
  .nav {
    margin: 30px 0px 0px;
  }
  .header__button {
    margin: 30px 0px 0px;
  }
  .header__link {
    margin: 20px 0px 0px;
  }
}
@media (max-width: 522px) {
  .header {
    min-height: 370px;
  }
  .header__logo {
    margin: 30px 0px 0px;
  }
  .nav {
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 10px;
    width: 100%;
    min-height: 160px;
  }
  .header__button {
    margin: 30px 0px 0px;
  }
  .header__link {
    margin: 20px 0px 0px;
  }
}
.input {
  height: 45px;
  width: 268px;
  background: #FFFFFF;
  border: 1px solid #6F2CFF;
  border-radius: 27.5px 0px 0px 27.5px;
  box-sizing: border-box;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.27);
  padding: 13px 26px 11px 26px;
}

.main {
  height: 695px;
  width: 100%;
  background: #F6BED9;
}

.main__container {
  background-image: url("../../img/main/1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.content {
  height: 364px;
  width: 454px;
  padding: 134px 0px 0px;
}

.main__introduction {
  line-height: 21px;
}

.main__title1 {
  line-height: 61px;
  margin: 19px 0px 0px;
}

.main__title2 {
  color: #6F2CFF;
  line-height: 54px;
  margin: 19px 0px 0px;
}

.main__text {
  width: 450px;
  line-height: 30px;
  margin: 24px 0px 0px;
}

.bold {
  font-weight: 900;
}

.main__form {
  display: flex;
  height: 45px;
  width: 453px;
  margin: 30px 0px 0px;
}

@media (max-width: 1400px) {
  .main {
    height: 640px;
  }
}
@media (max-width: 1246px) {
  .main {
    height: 565px;
  }
  .content {
    padding: 100px 0px 0px;
  }
  .main__button {
    top: 448px;
  }
}
@media (max-width: 934px) {
  .main {
    height: 500px;
  }
  .main__container {
    background-image: none;
    display: flex;
    justify-content: center;
  }
  .content {
    padding: 50px 0px 0px;
  }
}
@media (max-width: 870px) {
  .main {
    margin: 20px 0px 0px;
  }
}
@media (max-width: 512px) {
  .main {
    height: 450px;
  }
  .content {
    min-height: 364px;
    max-width: 454px;
    width: 100%;
  }
  .h1 {
    font-size: 40px;
  }
  .main__title1 {
    margin: 15px 0px 0px;
  }
  .main__title2 {
    margin: 0px;
  }
  .main__text {
    margin: 15px 0px 0px;
  }
  .main__form {
    width: 420px;
    margin: 20px 0px 0px;
  }
  .input {
    width: 235px;
  }
}
.customers__link {
  color: #1C1C1C;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 170px;
  border-bottom: 1px solid #000000;
  margin: 12px 0px 21px;
}

.brands {
  min-height: 204px;
  width: 100%;
}

.brands__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brands__title {
  font-weight: 700;
  line-height: 30px;
  padding: 35px 0px 0px;
}

.brands__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  height: 70px;
  width: 100%;
  margin: 15px 0px 0px;
}

.brands__logo_barbour {
  height: 42px;
  width: 102px;
}

.brands__logo_kate-spade {
  height: 42px;
  width: 97px;
}

.brands__logo_lvmh {
  height: 42px;
  width: 95px;
}

.brands__logo_estee-lauder {
  height: 37px;
  width: 115px;
}

.brands__logo_tjx {
  height: 42px;
  width: 53px;
}

.brands__logo_river-island {
  height: 37px;
  width: 115px;
}

.brands__logo_radisson {
  height: 42px;
  width: 102px;
}

.brands__logo_g-star-raw {
  height: 37px;
  width: 115px;
}

@media (max-width: 928px) {
  .brands__logo {
    height: 100px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
  }
  .customers__link {
    margin: 20px 0px 21px;
  }
}
@media (max-width: 512px) {
  .brands__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-column-gap: 0px;
         column-gap: 0px;
    height: 100%;
    width: auto;
    margin: 15px 0px 0px;
  }
  .customers__link {
    margin: 30px 0px 21px;
  }
}
.grow {
  height: 660px;
  width: 100%;
  margin: 80px 0px 0px;
}

.grow__container {
  display: flex;
  max-width: 1260px;
}

.grow__left {
  height: 100%;
  width: 50%;
  padding: 0px 0px 0px 10px;
}

.grow__title {
  color: #1C1C1C;
  max-width: 401px;
  margin: 179px 0px 0px;
}

.knowmore {
  display: flex;
  align-items: center;
  -moz-column-gap: 22px;
       column-gap: 22px;
  margin: 56px 0px 0px;
}

.grow__link {
  color: #000000;
  font-size: 14px;
  line-height: 14px;
  text-shadow: none;
  width: 143px;
  margin: 0px;
}

.grow__text {
  line-height: 30px;
  margin: 50px 0px 0px;
}

.grow__report {
  color: #000000;
  line-height: 15px;
  width: 111px;
  border-bottom: 1px solid #000000;
  margin: 7px 0px 0px;
}

.grow__right {
  display: flex;
  height: 100%;
  width: 50%;
}

.grow__column_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  max-width: 315px;
  border-left: 1px solid #E0E0E0;
}

.grow__card {
  height: 220px;
  width: 100%;
  max-width: 309px;
}

.grow__card-content {
  height: 102px;
  max-width: 225px;
  width: 100%;
  padding: 10px 0.25px 0px 15.5px;
}

.grow__card-data {
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
}

.grow__card-text {
  margin: 15px 0px 0px;
}

.grow__column_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  max-width: 315px;
  border-left: 1px solid #E0E0E0;
}

@media (max-width: 928px) {
  .grow {
    height: 830px;
  }
  .grow__container {
    max-width: 928px;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }
  .grow__left {
    height: 330px;
    width: 410px;
  }
  .grow__title {
    margin: 0px;
  }
  .grow__right {
    height: 400px;
    width: 510px;
    justify-content: center;
  }
  .grow__column_left {
    max-width: 240px;
  }
  .grow__column_right {
    max-width: 240px;
  }
  .grow__card {
    height: 147px;
    width: 227px;
  }
}
@media (max-width: 510px) {
  .grow__right {
    width: 100%;
  }
  .grow__column_left {
    width: 100%;
  }
  .grow__column_right {
    width: 100%;
  }
  .grow__card {
    height: 170px;
    width: 100%;
  }
  .grow__card-content {
    padding: 10px 10px 0px 15.5px;
  }
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 194px;
  max-width: 320px;
  width: 26.45%;
}

.card__icon {
  height: 50px;
  width: 50px;
}

.card__title {
  font-weight: 700;
  line-height: 23px;
  margin: 42px 0px 0px;
}

.card__text {
  line-height: 22px;
  padding: 16px 3px 3px;
}

.commerce {
  height: 537px;
  width: 100%;
}

.commerce__title {
  text-align: center;
  padding: 94px 0px 0px;
}

.commerce__subtitle {
  line-height: 30px;
  text-align: center;
  margin: 22px 0px 0px;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 58px 0px 94px 0px;
}

@media (max-width: 928px) {
  .commerce__title {
    padding: 60px 0px 0px;
  }
}
@media (max-width: 794px) {
  .commerce {
    min-height: 1025px;
  }
  .cards {
    flex-direction: column;
    row-gap: 50px;
    margin: 58px 0px 0px;
  }
  .card {
    width: 100%;
  }
  .card__title {
    height: 172px;
    margin: 20px 0px 0px;
  }
}
@media (max-width: 670px) {
  .commerce {
    min-height: 1000px;
  }
}
.power {
  height: 1064px;
  width: 100%;
  background-color: #f5f5f5;
}

.power__title {
  text-align: center;
  padding: 94px 0px 0px;
}

.power__text {
  line-height: 30px;
  text-align: center;
  margin: 28px 0px 0px;
}

.power__picture {
  height: auto;
  max-height: 560px;
  width: 996px;
  display: block;
  margin: 90px auto 0px;
}

.power__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 22px;
       column-gap: 22px;
  margin: 76px 0px 101px;
}

@media (max-width: 1026px) {
  .power__picture {
    width: 100%;
    max-width: 996px;
  }
}
@media (max-width: 908px) {
  .power {
    height: 948px;
  }
}
@media (max-width: 789px) {
  .power {
    height: 870px;
  }
  .power__picture {
    margin: 70px auto 0px;
  }
  .power__buttons {
    margin: 50px 0px;
  }
}
@media (max-width: 670px) {
  .power {
    height: 792px;
  }
  .power__title {
    padding: 80px 0px 0px;
  }
  .power__picture {
    margin: 60px auto 0px;
  }
}
@media (max-width: 600px) {
  .power {
    height: 740px;
  }
}
@media (max-width: 500px) {
  .power__title {
    width: 270px;
    margin: 0px auto;
  }
}
.possibilities {
  height: 845px;
  width: 100%;
}

.possibilities__title {
  text-align: center;
  padding: 93.75px 0px 0px;
}

.possibilities__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 50px;
  height: 528px;
  width: 100%;
  max-width: 1020px;
  margin: 28.25px auto 150px;
}

.possibilities__card {
  width: 276px;
  height: 173px;
  margin: 30px 0px 0px;
}

.possibilities__card-title {
  line-height: 45px;
  margin: 4px 0px 0px;
}

.possibilities__card-text {
  min-height: 66px;
  padding: 0px;
  margin: 11px 0px 0px;
}

@media (max-width: 887px) {
  .possibilities {
    height: 930px;
  }
  .possibilities__title {
    padding: 70px 0px 0px;
  }
  .possibilities__cards {
    justify-content: space-around;
    row-gap: 30px;
    height: 710px;
    margin: 28.25px auto 30px;
  }
}
@media (max-width: 596px) {
  .possibilities {
    height: 1590px;
  }
  .possibilities__cards {
    height: 1370px;
    margin: 28.25px auto 30px;
  }
}
@media (max-width: 530px) {
  .possibilities {
    height: 1640px;
  }
}
.brandsslider {
  height: 751px;
  width: 100%;
  background-color: #f5f5f5;
}

.brandsslider__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 70.25px;
}

.brandsslider__title {
  text-align: center;
  padding: 77.75px 0px 0px;
}

.brandsslider__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 448px;
  max-width: 1180px;
  width: 100%;
}

.brandsslider__button_left {
  height: 100%;
  width: 65px;
  background: inherit;
  cursor: pointer;
  padding: 0px 0px 0px 15px;
}

.brandsslider__button_left img {
  height: 50px;
  width: 50px;
}

.brandsslider__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1050px;
  width: 100%;
}

.brandsslider__card {
  background-color: #FFFFFF;
  height: 438px;
  width: 320px;
}

.brandsslider__img {
  width: 100%;
  height: 205px;
}

.brandsslider__img img {
  width: 100%;
  height: auto;
}

.brandsslider__logo {
  width: 150px;
  height: 35px;
  text-align: center;
  margin: 25px 0px 0px;
}

.brandsslider__logo img {
  width: auto;
  height: 100%;
}

.brandsslider__text {
  font-size: 18px;
  font-weight: 700;
  color: #6F2CFF;
  height: 88px;
  width: 219px;
  text-align: center;
  padding: 0px;
  margin: 25px 55px 60px;
}

.brandsslider__button_right {
  height: 100%;
  width: 65px;
  background: inherit;
  cursor: pointer;
  padding: 0px 15px 0px 0px;
}

.brandsslider__button_right img {
  height: 50px;
  width: 50px;
}

@media (max-width: 1210px) {
  .brandsslider__slider {
    justify-content: space-around;
  }
  .brandsslider__card_3 {
    display: none;
  }
}
@media (max-width: 850px) {
  .brandsslider__slider {
    justify-content: center;
  }
  .brandsslider__card_2 {
    display: none;
  }
}
@media (max-width: 508px) {
  .brandsslider {
    height: 796px;
  }
}
.specializations {
  height: 1003px;
  width: 100%;
}

.specializations__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specializations__title {
  padding: 94px 0px 0px;
}

.specializations__text {
  line-height: 30px;
  margin: 12px 0px 0px;
}

.specializations__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  height: 687px;
  width: 100%;
  max-width: 980px;
  margin: 50px 0px 84.75px 0px;
}

.specializations__card {
  align-items: flex-start;
  height: 199px;
  max-width: 460px;
  width: 46.94%;
  background-color: #17002E;
  border-radius: 8px 10px 10px 8px;
}

.specializations__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 109px;
  max-width: 400px;
  width: 100%;
  padding: 30.25px 30px 0px;
}

.specializations__card-head {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  height: 50px;
  width: 100%;
}

.specializations__card-icon {
  height: 50px;
  width: 50px;
}

.specializations__card-icon img {
  height: 100%;
  width: auto;
}

.specializations__card-tytle {
  color: #FFFFFF;
  font-weight: 700;
  line-height: 25px;
}

.specializations__card-text {
  color: #FFFFFF;
}

.specializations__card-link {
  line-height: 25px;
  color: #FFFFFF;
  height: 22px;
  border-bottom: 2px solid #FFFFFF;
  margin: 10px 30px 25px;
}

@media (max-width: 832px) {
  .specializations__card-link {
    font-size: 12px;
  }
}
@media (max-width: 698px) {
  .specializations {
    height: 1666px;
  }
  .specializations__title {
    padding: 70px 0px 0px;
  }
  .specializations__cards {
    height: 1374px;
  }
  .specializations__card {
    width: 100%;
  }
  .specializations__card-link {
    font-size: 15px;
  }
}
@media (max-width: 574px) {
  .specializations {
    height: 1710px;
  }
  .specializations__container {
    flex: none;
  }
  .specializations__title {
    text-align: center;
  }
  .specializations__text {
    text-align: center;
  }
  .specializations__cards {
    margin: 30px 0px 70px 0px;
  }
}
.ecosystem__button {
  font-size: 14px;
  line-height: 14px;
  padding: 11px 34px 15px 34px;
}