.brands {

}
.brands__card {
	height: 438px;
	max-width: 319.83px;
	width: 22.21%;
}
.brands__img {
	width: 320px;
	height: 205px;
}
.brands__img img {
	width: 100%;
	height: auto;
}
.brands__logo {
	width: 150px;
	height: 35px;
	margin: 25px 0px 0px;
}
.brands__logo img {
	width: 100%;
	height: auto;
}
.brands__text {
	font-size: 18px;
	font-weight: 700;
	color: $violet;
	padding: 0px;
	margin: 25px 0px 0px;
}