.brands {
	min-height: 204px;
	width: 100%;
}
.brands__container {
	@include flex;
	flex-direction: column;
	align-items: center;
}
.brands__title {
	font-weight: 700;
	line-height: 30px;
	padding: 35px 0px 0px;
}
.brands__logo {
	@include flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 15px;
	height: 70px;
	width: 100%;
	margin: 15px 0px 0px;
}
.brands__logo_barbour {
	height: 42px;
	width: 102px;
}
.brands__logo_kate-spade {
	height: 42px;
	width: 97px;
}
.brands__logo_lvmh {
	height: 42px;
	width: 95px;
}
.brands__logo_estee-lauder {
	height: 37px;
	width: 115px;
}
.brands__logo_tjx {
	height: 42px;
	width: 53px;
}
.brands__logo_river-island {
	height: 37px;
	width: 115px;
}
.brands__logo_radisson {
	height: 42px;
	width: 102px;
}
.brands__logo_g-star-raw {
	height: 37px;
	width: 115px;
}
@media (max-width: 928px) {
	.brands__logo {
		height: 100px;
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 15px;
	}
	.customers__link {
		margin: 20px 0px 21px;
	}
}
@media (max-width: 512px) {
	.brands__logo {
		@include flex;
		flex-direction: column;
		align-items: center;
		column-gap: 0px;
		height: 100%;
		width: auto;
		margin: 15px 0px 0px;
	}
	.customers__link {
		margin: 30px 0px 21px;
	}
}