.brandsslider {
	height: 751px;
	width: 100%;
	background-color: $gray-light;
}
.brandsslider__container {
	@include flex;
	flex-direction: column;
	align-items: center;
	row-gap: 70.25px;
}
.brandsslider__title {
	text-align: center;
	padding: 77.75px 0px 0px;
}
.brandsslider__content {
	@include flex;
	justify-content: center;
	align-items: center;
	height: 448px;
	max-width: 1180px;
	width: 100%;
}
.brandsslider__button_left {
	height: 100%;
	width: 65px;
	background: inherit;
	cursor: pointer;
	padding: 0px 0px 0px 15px;
}
.brandsslider__button_left img {
	height: 50px;
	width: 50px;
}
.brandsslider__slider {
	@include flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	max-width: 1050px;
	width: 100%;
}
.brandsslider__card {
	background-color: $white;
	height: 438px;
	width: 320px;
}
.brandsslider__img {
	width: 100%;
	height: 205px;
}
.brandsslider__img img {
	width: 100%;
	height: auto;
}
.brandsslider__logo {
	width: 150px;
	height: 35px;
	text-align: center;
	margin: 25px 0px 0px;
}
.brandsslider__logo img {
	width: auto;
	height: 100%;
}
.brandsslider__text {
	font-size: 18px;
	font-weight: 700;
	color: $violet;
	height: 88px;
	width: 219px;
	text-align: center;
	padding: 0px;
	margin: 25px 55px 60px;
}
.brandsslider__button_right {
	height: 100%;
	width: 65px;
	background: inherit;
	cursor: pointer;
	padding: 0px 15px 0px 0px;
}
.brandsslider__button_right img {
	height: 50px;
	width: 50px;
}
@media (max-width: 1210px) {
	.brandsslider__slider {
		justify-content: space-around;
	}
	.brandsslider__card_3 {
		display: none;
	}
}
@media (max-width: 850px) {
	.brandsslider__slider {
		justify-content: center;
	}
	.brandsslider__card_2 {
		display: none;
	}
}
@media (max-width: 508px) {
	.brandsslider {
		height: 796px;
	}
}