.input {
	height: 45px;
	width: 268px;
	background: $white;
	border: 1px solid $violet;
	border-radius: 27.5px 0px 0px 27.5px;
	box-sizing: border-box;
	line-height: 21px;
	color: $gray-opacity;
	padding: 13px 26px 11px 26px;
}