.grow {
	height: 660px;
	width: 100%;
	margin: 80px 0px 0px;
}
.grow__container {
	@include flex;
	height: 100%;
	width: 100%;
	max-width: 1260px;
}
.grow__left {
	height: 100%;
	width: 50%;
	padding: 0px 0px 0px 10px;
}
.grow__title {
	color: $gray-dark;
	max-width: 401px;
	margin: 179px 0px 0px;
}
.knowmore {
	@include flex;
	align-items: center;
	column-gap: 22px;
	margin: 56px 0px 0px;
}
.grow__button {}
.grow__link {
	color: $black;
	font-size: 14px;
	line-height: 14px;
	text-shadow: none;
	width: 143px;
	margin: 0px;
}
.grow__text {
	line-height: 30px;
	margin: 50px 0px 0px;
}
.grow__report {
	color: $black;
	line-height: 15px;
	width: 111px;
	border-bottom: 1px solid $black;
	margin: 7px 0px 0px;
}
.grow__right {
	@include flex;
	height: 100%;
	width: 50%;
}
.grow__column_left {
	@include flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 50%;
	max-width: 315px;
	border-left: 1px solid $gray;
}
.grow__card {
	height: 220px;
	width: 100%;
	max-width: 309px;
}
.grow__card-content {
	height: 102px;
	max-width: 225px;
	width: 100%;
	padding: 10px 0.25px 0px 15.5px;
}
.grow__card-data {
	font-weight: 700;
	font-size: 40px;
	line-height: 45px;
}
.grow__card-text {
	margin: 15px 0px 0px;
}
.grow__column_right {
	@include flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 50%;
	max-width: 315px;
	border-left: 1px solid $gray;
}
@media (max-width: 928px) {
	.grow {
		height: 830px;
	}
	.grow__container {
		max-width: 928px;
		flex-direction: column;
		align-items: center;
		row-gap: 60px;
	}
	.grow__left {
		height: 330px;
		width: 410px;
	}
	.grow__title {
		margin: 0px;
	}
	.grow__right {
		height: 400px;
		width: 510px;
		justify-content: center;
	}
	.grow__column_left {
		max-width: 240px;
	}
	.grow__column_right {
		max-width: 240px;
	}
	.grow__card {
		height: 147px;
		width: 227px;
	}
}
@media (max-width: 510px) {
	.grow__right {
		width: 100%;
	}
	.grow__column_left {
		width: 100%;
	}
	.grow__column_right {
		width: 100%;
	}.grow__card {
		height: 170px;
		width: 100%;
	}
	.grow__card-content {
		padding: 10px 10px 0px 15.5px;
	}
}