.grow__card {
	height: 220px;
	width: 100%;
	max-width: 309px;
}
.grow__card-content {
	height: 102px;
	max-width: 225px;
	width: 100%;
	padding: 10px 15.5px 0.25px 0px;
}
.grow__card-data {
	font-weight: 700;
	font-size: 40px;
	line-height: 45px;
}
.grow__card-text {
	margin: 15px 0px 0px;
}