.main {
	height: 695px;
	width: 100%;
	background-image: url("c:\Users\ameti\WEB\2022\qubit\img\main\1.png") no-repeat left top;
	background-size: auto;
}
.main__container {

}
.introduction {

}
.title {

}
.text {

}
.main__input {

}
.main__button{

}