.possibilities__card {
	width: 19.17%;
	max-width: 276px;
	height: 173px;
}
.possibilities__card-icon {

}
.possibilities__card-title {
	line-height: 45px;
	margin: 4px 0px 0px;	
}
.possibilities__card-text {
	padding: 0px;
	margin: 11px 0px 0px;
}