.power {
	height: 1064px;
	width: 100%;
	background-color: $gray-light;
}
.power__title {
	text-align: center;
	padding: 94px 0px 0px;
}
.power__text {
	line-height: 30px;
	text-align: center;
	margin: 28px 0px 0px;
}
.power__picture {
	height: auto;
	max-height: 560px;
	width: 996px;
	display: block;
	margin: 90px auto 0px;
}
.power__buttons {
	@include flex;
	justify-content: center;
	align-items: center;
	column-gap: 22px;
	margin: 76px 0px 101px;
}
@media (max-width: 1026px) {
	.power__picture {
		width: 100%;
		max-width: 996px;
	}
}
@media (max-width: 908px) {
	.power {
			height: 948px;
		}
}
@media (max-width: 789px) {
	.power {
		height: 870px;
	}
	.power__picture {
		margin: 70px auto 0px;
	}
	.power__buttons {
		margin: 50px 0px;
	}
}
@media (max-width: 670px) {
	.power {
		height: 792px;
	}
	.power__title {
		padding: 80px 0px 0px;
	}
	.power__picture {
		margin: 60px auto 0px;
	}
}
@media (max-width: 600px) {
	.power {
		height: 740px;
	}
}
@media (max-width: 500px) {
	.power__title {
		width: 270px;
		margin: 0px auto;
	}
}