$violet: #6F2CFF;
$violet-hover: #411a94;
$indigo: #20003C;
$dark-indigo: #17002E;
$black: #000000;
$white: #FFFFFF;
$gray-light: #f5f5f5;
$gray: #E0E0E0;
$gray-opacity: rgba(0, 0, 0, 0.27);
$gray-dark: #1C1C1C;
$pink: #F6BED9;