:root {
	$violet: #6F2CFF;
	$indigo: #20003C;
	$dark-indigo: #17002E;
	$black: #000000;
	$white: #FFFFFF;
	$gray: #F5F5F5;
	$text-header-b: 54px;
	$text-header-s: 40px;
	$text-19: 19px;
	$text-18: 18px;
	$text-16: 16px;
	$text: 15px;
	$text-14: 14px;
	$text-13: 13px;
}